body {
  margin: 0;
  padding: 0;
  padding-right: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  color: #ccc;
  background-color: #1f1f1f;
  font-family: 'Consolas', Courier, monospace;
}


form {
  width: 500px;
  margin-right: 10%;
  align-items: center;
}


label {
  font-family: 'Consolas', Courier, monospace;
  font-weight: bold;
  font-size: 1.5em;
  display: block;
  margin-top: 20px;
}


input[type="text"],
input[type="email"],
input[type="password"] {
  color: #ccc;
  width: 97%;
  font-size: 1.5em;
  font-family: 'Consolas', Courier, monospace;
  font-weight: bold;
  height: 1.5em;
  border-radius: 10px;
  padding: 1%;
  margin-top: 0;
  background-color: rgb(14, 14, 14);
  transition: background-color 0.3s;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background-color: #9fb6f4;
  color: #292929;
}


input[type="submit"] {
  width: 100%;
  padding: 1em;
  font-size: 1em;
  margin-top: 5%;
  font-weight: bold;
  background-color: #5a7bff;
  /* Light green background */
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  /* Align to the start of flex container */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}


input[type="submit"]:hover {
  background-color: #384da1;
}


img.background {
  width: 50%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 50vw;
}


@media screen and (max-width: 640px) {
  img.bg {
    left: 50%;
    margin-left: -320px;
  }
}


.overlay {
  position: absolute;
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #EF6461;
  font-size: 3em;
  font-family: 'Consolas', Courier, monospace;
  font-weight: bold;
  transition: font-size 0.3s, color 0.3s;
}


.overlay:hover {
  font-size: 3.5em;
  color: rgb(83, 215, 204);
}