/* styles.css */

body {
    font-family: 'Consolas', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #121212;
    /* Dark background */
    color: #ccc;
    /* White text color */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px; 
    padding-left: 10px; 
    padding-top: 0;
    padding-bottom: 0;
    background-color: #1c1c1c;
    margin-top: 0; 
    margin-bottom: 0; 
}

h1 {
    color: #31748f;
    margin-left: 20px;
}

.nav-buttons {
    margin-top: 0; /* Добавьте эту строку */
    margin-bottom: 0; /* Добавьте эту строку */
}

.nav-buttons button{
    font-size: 1.4em;
    background-color: #1c1c1c;
    /* Dark grey background for buttons */
    color: #ffffff;
    /* White text color */
    border: none;
    padding: 15px 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-register button {
    font-size: 1.4em;
    background-color: #333333;
    /* Dark grey background for buttons */
    color: #ffffff;
    /* White text color */
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-buttons button:hover,
.login-register button:hover {
    background-color: #927347;
    /* Lighter grey background on hover */
}

