body {
    background-color: #f0f0f0; /* Szary kolor tła */
}


#container {
    display: flex;
}

#sidebar {
    width: 20%;
    background-color: #f0f0f0;
}

#user-info {
    text-align: center;
}

#history-table {
    width: 100%;
    border-collapse: collapse;
}

#history-table th, #history-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#history-table th {
    background-color: #f2f2f2;
}

#avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#rank, #languages {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#skills .skill {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#main-content {
    width: 80%;
    padding: 20px;
}

#difficulty-bars .bar {
    padding: 5px;
    margin: 5px 0;
}

.calendar-day {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 1px;
}


.easy {
    background-color: green;
}

.medium {
    background-color: orange;
}

.hard {
    background-color: red;
}

/* Dodatkowe stylizacje */
