/* exstyles.css */

/* Apply a global font and remove default margins */
body {
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
	color: #ccc;
	background-color: #121212;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;
	background-color: #1c1c1c;
	/* Slightly lighter dark shade for header */
}

/* Style for the main heading */
h1 {
	text-align: center;
	color: #31748f;
	margin-left: 20px;
}

.fa-spinner {
	color: orange;
	margin-left: 20px;
}

.home-link {
	color: inherit;
	transition: color 0.5s;
	text-decoration: none;
}

.home-link:hover {
	text-decoration: none;
	color: #927347;
}

/* Sorting container styles */
.sort-container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* Center sorting buttons */
	padding: 10px;
	margin-top: 10px;
}

/* Sorting label styles */
.sort-container span {
	margin-right: 10px;
	margin-left: 91px;
	font-size: 1.2em;
	/* Slightly larger text for the sort label */
}

/* Sorting dropdown styles */
.sort-select {
	text-align: center;
	background-color: #333333;
	/* Orange background */
	color: #ffffff;
	/* Blue text color */
	border: none;
	border-radius: 5px;
	padding: 10px 10px;
	margin-right: auto;
	cursor: pointer;
	transition: background-color 0.3s;
	-webkit-appearance: none;
	/* Removes default styling on webkit browsers */
	-moz-appearance: none;
	/* Removes default styling on Firefox */
	appearance: none;
	/* Removes default dropdown arrow */
}

.sort-select:hover {
	background-color: #927347;
	/* Pink background on hover */
}

/* You can add a custom arrow indicator to the dropdown */
.sort-select {
	background-position: right 10px center;
	background-repeat: no-repeat;
}

/* Table styles */
table {

	width: 90%;
	border-collapse: collapse;
	/* Remove space between table cells */
	margin-top: 10px;
	margin-left: 100px;
}

th,
td {
	font-weight: bold;
	text-align: left;
	padding: 15px;
	border-bottom: 1px solid #252526;
	/* Light border for rows */
}

th {
	color: #31748f;
	background-color: #1c1c1c;
	/* Light green color for headers */
}

th:first-child,
td:first-child {
	width: 50px;
}

th:nth-child(2),
td:nth-child(2) {
	width: auto;
}

tr:nth-child(odd) {
	background-color: #121212;
}

tr:nth-child(even) {
	background-color: #1c1c1c;
}

td.exercise-name a {
	transition: color 0.5s;
	text-decoration: none;
	color: #ffffff;
}

td.exercise-name a:hover {
	color: #927347;
	text-decoration: none;
}

td.category-database,
td.category-algorithms {
	font-weight: normal;
}

td.category-database {
	color: #FFA500
}

td.category-algorithms {
	color: #007BFF
}

/* Specific styles for each difficulty level */
td.difficulty-easy {
	color: #3CB371;
	/* A green color for easy difficulty */
}

td.difficulty-medium {
	color: #FFA500;
	/* An orange color for medium difficulty */
}

td.difficulty-hard {
	color: #FF6347;
	/* A red color for hard difficulty */
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}