html {
	scrollbar-width: thin;
	scrollbar-color: blue orange;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
	height: 12px;
	width: 12px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	background: orange;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	background-color: blue;
	border-radius: 5px;
	border: 3px solid orange;
}

body {
	font-family: 'Consolas', Courier, monospace;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	color: #ccc;
	background-color: #121212;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;
	background-color: #1c1c1c;
	width: 100%;
}


h1 {
	text-align: center;
	color: #31748f;
	margin-left: 20px;
}

.home-link {
	color: inherit;
	transition: color 0.5s;
	text-decoration: none;
}

.home-link:hover {
	text-decoration: none;
	color: #927347;
}

.content-container {
	display: flex;
	flex-grow: 1;
}

.problem-description,
.code-editor,
.console-and-buttons {
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #252526;
	/* Dark gray background */
	margin-top: 10px;
}

.problem-description {
	flex: 2;
	height: calc(100vh - 120px);
	overflow-y: auto;
	margin-left: 10px;
	margin-right: 0px;
}

h2 {
	font-weight: lighter;
	font-size: 3.0em;
	margin-top: 20.0px;
	margin-left: 20.0px;
	color: aliceblue;
	cursor: pointer;
}

p {
	font-size: 1.3em;
	margin-left: 20.0px;
	line-height: 1.0;
	color: #bbb;
	/* Lighter text color for readability */
}

.code-editor-and-buttons {
	flex: 2;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
}

.code-editor {
	flex: 1;
	height: calc(100vh - 120px);
	display: flex;
	flex-direction: column;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
}

.run-submit-container {
	display: flex;
	justify-content: flex-end;
}

.console-and-buttons {
	position: relative;
}

.console {
	display: none;
	max-height: 200px;
	overflow-y: auto;
	padding: 10px;
	background-color: #1E1E1E;
	color: #ccc;
	border-radius: 5px;
}

.console-visible {
	display: block;
	bottom: 50px;
	opacity: 1;
}

button {
	font-size: 0.9em;
	width: 5em;
	padding: 6px;
	/* Light green background */
	border: none;
	border-radius: 5px;
	cursor: pointer;
	align-self: flex-start;
	/* Align to the start of flex container */

}

#console-btn {
	background-color: #252526;
	color: #7f7f7f;
	transition: color 0.3s;
}

#console-btn:hover {
	color: #bababa;
}

#run-btn {
	background-color: #5a5a5a;
	color: #bababa;
	transition: background-color 0.3s;
}

#run-btn:hover {
	background-color: #8b8b8b;
}

#submit-btn {
	background-color: #29AD4B;
	color: white;
	margin-left: 8px;
	transition: background-color 0.3s;
}

#submit-btn:hover {
	background-color: #B5CEA8;
}

.CodeMirror {
	height: calc(100vh - 120px);
	border-radius: 10px;
	flex: 1;
	display: flex;
	margin: 10px;
	background-color: #1c1c1c;
	border: 2px groove #31748f;
	width: 97.5%;
	color: #dcdcdc;
	font-family: 'Consolas', 'Courier New', Courier, monospace;
	font-size: 14px;
	line-height: 1.5;
}

.CodeMirror-gutters {
	background: #1c1c1c;
	border-right: 1px solid #1c1c1c;
}

.CodeMirror-cursor {
	border-left: 1px solid #d4d4d4;
}

.CodeMirror-selected {
	background: rgba(255, 255, 255, 0.1) !important;
	;
}

.CodeMirror-activeline-background {
	background: rgba(255, 255, 255, 0.1) !important;
}

.CodeMirror .cm-keyword {
	color: #31748f;
}

.CodeMirror .cm-operator {
	color: #e3e42e;
}

.CodeMirror .cm-variable {
	color: #ffffff;
}

.CodeMirror .cm-variable-2 {
	color: #ebbcba;
}

.CodeMirror .cm-builtin {
	color: #f6c177;
}

.CodeMirror .cm-property {
	color: #ff6e34;
}

.CodeMirror .cm-number {
	color: #B5CEA8;
}

.CodeMirror .cm-def {
	color: #e3e42e;
	font-style: italic;
}

.CodeMirror .cm-string {
	color: #ebbcba;
}

.CodeMirror .cm-comment {
	color: #6A9955;
	font-style: italic;
}

.CodeMirror .cm-tag {
	color: #569CD6;
}

.CodeMirror .cm-meta {
	color: #ff6e34;
}