html {
	scrollbar-width: thin;
	scrollbar-color: #31748f #927347;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
	height: 12px;
	width: 12px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	background: #927347;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	background-color: #31748f;
	border-radius: 5px;
	border: 3px solid #927347;
}

body {
	font-family: 'Consolas', Courier, monospace;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	color: #ccc;
	background-color: #121212;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0;
	padding-bottom: 0;
	background-color: #1c1c1c;
	margin-top: 0;
	margin-bottom: 0;
}

.nav-buttons {
	padding: 0;
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	/* Добавьте эту строку */
	margin-bottom: 0;
	/* Добавьте эту строку */
	margin-right: 35%;
	margin-left: 10%;
}

.login-register {

	padding: 0;
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	/* Добавьте эту строку */
	margin-bottom: 0;
	/* Добавьте эту строку */
	margin-right: 10%;
}

.logo {
	display: flex;
	justify-content: space-between;
	margin-left: 2%;
}

.logo:hover {
	cursor: pointer;
}

.logo h1 {
	color: darkorange;
	margin-left: 0;
}

.logo h1:hover {
	color: rgb(254, 177, 83);
}


.logo img {
	width: 2em;
	height: 2em;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 3%;
}



.login-register p {
	width: 5em;
	margin: 0;
	margin-right: 5%;
	font-size: 1.4em;
	background-color: #1c1c1c;
	/* Dark grey background for buttons */
	color: #646464;
	/* White text color */
	border: none;
	padding: 15px 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.login-register p:hover {
	color: #f5f5f5;
	/* Lighter grey background on hover */
}

.nav-buttons p {
	margin: 0;
	font-size: 1.4em;
	background-color: #1c1c1c;
	/* Dark grey background for buttons */
	color: #646464;
	/* White text color */
	border: none;
	padding: 15px 15px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.nav-buttons p:hover {
	color: #f5f5f5;
	/* Lighter grey background on hover */
}


h1 {
	text-align: center;
	color: #31748f;
	margin-left: 20px;
}

.home-link {
	color: inherit;
	transition: color 0.5s;
	text-decoration: none;
}

.home-link:hover {
	text-decoration: none;
	color: #927347;
}

.content-container {
	display: flex;
	flex-grow: 1;
	margin: 10px;
}

.problem-description-and-comments,
.code-editor,
.console-and-buttons {
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #252526;
}


.problem-description-and-comments {
	flex: 3;
	max-height: 800px;
	overflow-y: auto;
}

.problem-description {
	height: calc(100vh - 120px);
	overflow-y: auto;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.problem-header {
	display: flex;
	flex-direction: row;
}

.likes-dislikes-info {
	margin-left: auto;
	margin-right: 30px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	color: #bbb;
}

.likes-dislikes-info div {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	transition: color 0.3s ease;
}

.likes-dislikes-info i {
	margin-left: 10px;
	margin-right: 10px;
}

.likes-dislikes-info div:hover {
	color: #fff;
}

#likes-count,
#dislikes-count {
	font-weight: bold;
	font-size: 2.0em;
	margin-top: 10px;
}

.fa-thumbs-up,
.fa-thumbs-down {
	font-size: 1.5em;
}

.fa-thumbs-up {
	color: #29AD4B;
}

.fa-thumbs-down {
	color: #e94242;
}

h2 {
	font-weight: lighter;
	font-size: 3.0em;
	margin-top: 30.0px;
	margin-left: 20.0px;
	color: aliceblue;
	cursor: pointer;
}

p {
	flex-grow: 1;
	font-size: 1.3em;
	margin-left: 20.0px;
	line-height: 1.0;
	color: #ffffff;
}

.discussion-header {
	font-size: 1.0em;
	padding: 15px 20px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: auto;
	cursor: pointer;
	background-color: #252526;
	border-top: 2px solid #424242;
	border-bottom: 2px solid #424242;
	text-align: left;
	color: #bbb;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	transition: color 0.3s;
}

.discussion-header:hover {
	/* Styl dla hover efektu, jeśli potrzebny */
	color: #fff;
}

.arrow {
	transition: transform 0.3s ease;
}

.discussion-header[aria-expanded="true"] .arrow {
	transform: rotate(180deg);
}

.discussion-container {
	margin-top: 20px;
	display: none;
	padding: 10px;
}

.add-comment {
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	background-color: #2f2f31;
	box-shadow: 0 0 10px #121212;
}

#comment-text {
	flex-grow: 1;
	padding: 10px;
	resize: none;
	background-color: #2f2f31;
	border-radius: 10px;
	margin-bottom: 10px;
	border: none;
	outline: none;
	color: #969696;
}

#add-comment-btn {
	background-color: #1d7a34;
	color: #bdbdbd;
	border-radius: 10px;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top: auto;
	margin-left: auto;
	align-self: flex-end;
	font-size: 0.9em;
}

#add-comment-btn:hover {
	background-color: #249640;
	color: #ffffff;
}

.code-editor-and-buttons {
	flex: 2;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.code-editor {
	height: calc(100vh - 120px);
	flex-direction: column;
	display: inline-block;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
}

.run-submit-container {
	display: flex;
	justify-content: flex-end;
}

.console-and-buttons {
	position: relative;
	margin-top: 10px;
}

#console-label {
	font-family: 'Consolas', 'Courier New', Courier, monospace;
	font-size: 0.9em;
	margin-left: 20px;
}

.console {
	display: none;
	max-height: 200px;
	overflow-y: auto;
	padding: 10px;
	background-color: #1E1E1E;
	border: 1px solid #929292;
	color: #ccc;
	border-radius: 5px;
}

.console-visible {
	display: block;
	bottom: 50px;
	opacity: 1;
}

#console-btn,
#run-btn,
#submit-btn {
	font-size: 0.9em;
	width: 5em;
	padding: 6px;
	/* Light green background */
	border: none;
	border-radius: 5px;
	cursor: pointer;
	align-self: flex-start;
	/* Align to the start of flex container */

}

#console-btn {
	background-color: #252526;
	color: #7f7f7f;
	transition: color 0.3s;
}

#console-btn:hover {
	color: #bababa;
}

#run-btn {
	background-color: #5a5a5a;
	color: #bababa;
	transition: background-color 0.3s;
}

#run-btn:hover {
	background-color: #8b8b8b;
}

#submit-btn {
	background-color: #29AD4B;
	color: white;
	margin-left: 8px;
	transition: background-color 0.3s;
}

#submit-btn:hover {
	background-color: #B5CEA8;
}

.CodeMirror {
	border-radius: 10px;
	background-color: #1c1c1c;
	border: 2px groove #31748f;
	width: 700px;
	height: 700px;
	margin: auto;
	color: #dcdcdc;
	font-family: 'Consolas', 'Courier New', Courier, monospace;
	font-size: 14px;
	line-height: 1.5;
}

.CodeMirror-gutters {
	background: #1c1c1c;
	border-right: 1px solid #1c1c1c;
}

.CodeMirror-cursor {
	border-left: 1px solid #d4d4d4;
}

.CodeMirror-selected {
	background: rgba(255, 255, 255, 0.1) !important;
	;
}

.CodeMirror-activeline-background {
	background: rgba(255, 255, 255, 0.1) !important;
}

.CodeMirror .cm-keyword {
	color: #31748f;
}

.CodeMirror .cm-operator {
	color: #e3e42e;
}

.CodeMirror .cm-variable {
	color: #ffffff;
}

.CodeMirror .cm-variable-2 {
	color: #ebbcba;
}

.CodeMirror .cm-builtin {
	color: #f6c177;
}

.CodeMirror .cm-property {
	color: #ff6e34;
}

.CodeMirror .cm-number {
	color: #B5CEA8;
}

.CodeMirror .cm-def {
	color: #e3e42e;
	font-style: italic;
}

.CodeMirror .cm-string {
	color: #ebbcba;
}

.CodeMirror .cm-comment {
	color: #6A9955;
	font-style: italic;
}

.CodeMirror .cm-tag {
	color: #569CD6;
}

.CodeMirror .cm-meta {
	color: #ff6e34;
}