/* styles.css */

body {
   font-family: 'Consolas', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
   margin: 0;
   padding: 0;
   color: #ccc;
   background-color: #121212;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-right: 10px; 
   padding-left: 10px; 
   padding-top: 0;
   padding-bottom: 0;
   background-color: #1c1c1c;
   margin-top: 0; 
   margin-bottom: 0; 
}

.nav-buttons {
   padding:0;
   display: flex;
   justify-content: space-between;
   margin-top: 0; /* Добавьте эту строку */
   margin-bottom: 0; /* Добавьте эту строку */
   margin-right: 35%;
   margin-left: 10%;
}

.login-register{
   
   padding:0;
   display: flex;
   justify-content: space-between;
   margin-top: 0; /* Добавьте эту строку */
   margin-bottom: 0; /* Добавьте эту строку */
   margin-right: 10%;
}

.logo{
   display: flex;
   justify-content: space-between;
   margin-left: 2%;
}

.logo:hover{
   cursor: pointer;
}

.logo h1{
   color:darkorange;
   margin-left: 0;
}

.logo h1:hover{
   color:rgb(254, 177, 83);
}


.logo img{
   width:2em;
   height: 2em;
   margin-top: auto;
   margin-bottom: auto;
   margin-right: 3%;
}



.login-register p{
   width:5em;
   margin:0;
   margin-right: 5%;
   font-size: 1.4em;
   background-color: #1c1c1c;
   /* Dark grey background for buttons */
   color: #646464;
   /* White text color */
   border: none;
   padding: 15px 5px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.login-register p:hover {
   color: #f5f5f5;
   /* Lighter grey background on hover */
}

.nav-buttons p{
   margin:0;
   font-size: 1.4em;
   background-color: #1c1c1c;
   /* Dark grey background for buttons */
   color: #646464;
   /* White text color */
   border: none;
   padding: 15px 15px;
   cursor: pointer;
   transition: background-color 0.3s;
} 

.nav-buttons p:hover {
   color: #f5f5f5;
   /* Lighter grey background on hover */
}

.custom-dropdown {
	display: inline-block;
	background-color: #333333;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	color: #ffffff;
	transition: background-color 0.3s;
  }
  
  .custom-dropdown:hover {
	background-color: #927347;
  }
  
  ul {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	background-color: #333333;
	border-radius: 6px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: none;
  }
  
  li {
	width:10em;
	text-align: center;
	padding: 10px;
	color: #ffffff;
	transition: background-color 0.3s;
	cursor: pointer;
  }
  
  li:hover {
	background-color: #927347;
  }
  
  /* Show the options when the parent is hovered */
  .custom-dropdown:hover ul {
	display: block;
  }

h1 {
   text-align: center;
   color: #31748f;
   margin-left: 20px;
}

.home-link {
   color: inherit;
   transition: color 0.5s;
   text-decoration: none;
}

.home-link:hover {
   text-decoration: none;
   color: #927347;
}

.sort-container {
   display: flex;
   align-items: center;
   padding: 10px;
   margin-top: 10px;
}

.sort-container span {
   margin-right: 10px;
   margin-left: 91px;
   font-size: 1.2em;
}

.sort-select {
   text-align: center;
   background-color: #333333;
   color: #ffffff;
   border: none;
   border-radius: 5px;
   padding: 10px 10px;
   margin-right: auto;
   cursor: pointer;
   transition: background-color 0.3s;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.sort-select:hover {
   background-color: #927347;
}

.sort-select {
   background-position: right 10px center;
   background-repeat: no-repeat;
}

table {
   width: 90%;
   border-collapse: collapse;
   margin-top: 10px;
   margin-left: 100px;
}

th,
td {
	font-size: 1.4em;
	font-weight: bold;
	text-align: left;
	padding: 15px;
	border-bottom: 1px solid #252526;
	/* Light border for rows */
}

th {
   color: #31748f;
   background-color: #1c1c1c;
   /* Light green color for headers */
}

tr:nth-child(odd) {
   background-color: #121212;
}

tr:nth-child(even) {
   background-color: #1c1c1c;
}

td {
   color: #ffffff;
}