/* styles.css */

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
   padding: 0;
   color: #ccc;
   background-color: #121212;
}

header {
   display: flex;
   justify-content: space-between;
   /* Center the buttons container */
   align-items: center;
   padding: 10px 10px;
   background-color: #1c1c1c;
}

h1 {
   text-align: center;
   color: #31748f;
   margin-left: 20px;
}

.home-link {
   color: inherit;
   transition: color 0.5s;
   text-decoration: none;
}

.home-link:hover {
   text-decoration: none;
   color: #927347;
}

.sort-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   margin-top: 10px;
}

.sort-container span {
   margin-right: 10px;
   margin-left: 91px;
   font-size: 1.2em;
}

.sort-select {
   text-align: center;
   background-color: #333333;
   color: #ffffff;
   border: none;
   border-radius: 5px;
   padding: 10px 10px;
   margin-right: auto;
   cursor: pointer;
   transition: background-color 0.3s;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.sort-select:hover {
   background-color: #927347;
}

.sort-select {
   background-position: right 10px center;
   background-repeat: no-repeat;
}

table {
   width: 90%;
   border-collapse: collapse;
   margin-top: 10px;
   margin-left: 100px;
}

th,
td {
   font-weight: bold;
   text-align: left;
   padding: 15px;
   border-bottom: 1px solid #252526;
}

th {
   color: #31748f;
   background-color: #1c1c1c;
   /* Light green color for headers */
}

tr:nth-child(odd) {
   background-color: #121212;
}

tr:nth-child(even) {
   background-color: #1c1c1c;
}

td {
   color: #ffffff;
}